{% extends "base.html" %}

{% block content %}
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <h2>Contact</h2>
                    <ul id="clist">
                       <li><i class="glyphicon glyphicon-phone-alt"> Phone: 0040.743.926.444</i></li>
                       <li><i class="glyphicon glyphicon-envelope"> E-mail: ionescucosti@icloud.com</i><li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <form action="{% url 'contact' %}" method="post">
                            {% if save %}
                            <div class="form-group">
                                Message was successfully sent!
                            </div>
                            {% else %}
                            <div class="form-group">
                            Looking forward to answering your email
                            </div>
                            {% endif %}
                            {% csrf_token %}
                            {{ form.as_p }}
                          <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                </div>
            </div>
         </div>   
    </section>
{% endblock content %}