<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Constantin Ionescu Resume</title>

    <!-- Custom styles for this template -->
    <link href="css/stylesass.css" rel="stylesheet">
  </head>

  <body>
    <section>
        <div class="container container-main">
            <img src="img/image.jpg" class="img-circle">
        
            <header>
                <h1>Hello, <br> my name is <strong>Constantin Ionescu</strong> and welcome to my page!</h1>
            </header>
            <img src="" class="lime">
            
                <div class="row">
                    <div class="col-md-6">
                        <h2># About me</h2>
                        <p>I am a ISTQB certified Q.A. Engineer.</br> This is my Resume Page and shows my actual skills.</br> Go ahead and take a tour!</p>
                    </div>                
                    <div class="col-md-6">
                        <h2># Contact Info</h2>
                        <ul class="contact-list">
                            <li><img src="img/phone.png"> 0040 743 926 444</li>
                            <li><img src="img/email.png"> ionescucosti@yahoo.com</li>
                            <li><img src="img/linkedin.png"> https://www.linkedin.com/in/constantin-ionescu-41663165</li>
                        </ul>
                    </div>
                </div>

               <div class="row">
                    <div class="col-md-12">
                        <h2># Experience</h2>
                        <div class="media">                 
                          <div class="media-body">
                            <h3 class="media-heading">QA Engineer  03.2018 - present</h3>
                            <h4>Sparkware Technologies, Bucharest (Romania)</h4>
                            <pre>90% Manual testing and 10% Automation testing using C# language;
Review specification and design documents;
Create and maintain test plans and test cases;
Verify the software product features and functionality according to software specifications, documentation and test plan;
Report, manage and track bugs in our applications;
Working closely with different interfaces like developers, Product managers and Project managers;
Technologies and tools used: Selenium, NUnit, C#, SQL, Github, TFS, MTM, Atlassian Confluence;
Methodology: Agile Scrum, daily Scrum meetings for each sprint;</pre>
                          </div>
                         </div>
                        <div class="media">                 
                          <div class="media-body">
                            <h3 class="media-heading">Software Engineer 03.2017 - 03.2018</h3>
                            <h4>Harman International, Bucharest (Romania)</h4>
<pre>Source code integration using continous building project.
Creating software image;
System testing, manual + automating testing;
Automation and Scripting using Python language;
Technologies and tools used: Github, Perforce, Yocto, Atlassian (Stash, Bamboo, Confluence), Jenkins, Linux Shell/Bash, Python, Jira, Elvis;
Methodology: Agile Scrum, daily Scrum meetings for each sprint.</pre>
                          </div>
                         </div>
                        <div class="media">                 
                          <div class="media-body">
                            <h3 class="media-heading">Software Tester 11.2014 - 03.2017</h3>
                            <h4>Romanian Commercial Bank - Erste, Bucharest (Romania)</h4>
                            <pre>Manual testing for Cash Managment Application.
Executing test scripts according to application requirements documentation;
Retesting software corrections to ensure problems are resolved, documenting evolution of testing cases/scripts for future replication;
Interacting with other testing members, leader and limited interaction with development and project management;
Creating SQL DML and DCL instructions;
Assisting program deployment on a regular basis; Contributing to the completion of User Acceptance Testing milestones;
Reporting issues and colaborating with company's IT department project manager and vendor reprezentatives.
Technologies used: HP Quality Center, HP ALM, CA Service Desk, MySQL, Oracle database.</pre>
                          </div>
                         </div>
                        <div class="media">                 
                          <div class="media-body">
                            <h3 class="media-heading">ATM Forecasting Expert - Team Leader 06.2012 - 11.2014</h3>
                            <h4>Romanian Commercial Bank - Erste, Bucharest (Romania)</h4>
                            <pre>Technologies used: Oracle E-Bussines Suite Application, Cash Management Application, Casier Back
Office Application, Microsoft Excel Advanced;
Supervising and training a team of 6 FTE;
Statistical analysis and prognosis for cash withdrawals and issuing cash refilling orders, ATMreconciliation
Main achievments: I developed and tested a forecasting aplication using Microsoft Excel;</pre>
                          </div>
                         </div>

                        <div class="media">                 
                          <div class="media-body">
                            <h3 class="media-heading">Treasury Administrator 06.2009 - 06.2012</h3>
                            <h4>Romanian Commercial Bank - Erste, Bucharest (Romania)</h4>
                            <pre>Technologies used: Oracle E-Bussines Suite Application, Casier Back Office Application, Microsoft Excel Advanced.
Statistical analysis and forecasting of cash-flow;
Managing BCR's regional treasury;
In-house software development;
Software testing and QA for BCR aplications;
Main achievements: I contibuted for developing and tested various scripts in Visual Basic for automated tasks that reduced FTE by 3 and 
I also created a forecasting aplication using Microsoft Excel and VBA scripting.</pre>
                          </div>
                         </div>

                        <div class="media">                 
                          <div class="media-body">
                            <h3 class="media-heading">Back-Office Specialist 12.2008 - 06.2009</h3>
                            <h4>Romanian Commercial Bank - Erste, Bucharest (Romania)</h4>
                            <pre>Payments in National Currency Department:
- Central processing of debit instruments received from the meetings of the central bank clearing; 
- Data entry, verification of Payment Incident basis, the apparent signatures compliance, data entry validation; 
- Preparing of debt instruments for NBR clearing session; - Reconciliation of application for registration, informing territorial units 
  regarding delaying submission of original documents; checking of mandatory elements of checks, promissory notes and bills 
- Preparing the forms related sessions compensation

Payment Incidents Department :
- Specific activity archive; - Cutting, refusals to pay Custody Department:
- Balance of shares of BCR – ERSTE group Transport and Treasury Department: 
- Specific activities of collecting cash and food vouchers from bank customers which are concluded agreements collection and management of these 
  values, retrieval

Achievments: I was appointed validator in less than 7 days from starting working.</pre>
                          </div>
                         </div>

                        <div class="media">                 
                          <div class="media-body">
                            <h3 class="media-heading">Treasury Administrator 06.2009 - 06.2012</h3>
                            <h4>Romanian Commercial Bank - Erste, Bucharest (Romania)</h4>
                            <pre>Technologies used: Oracle E-Bussines Suite Application, Casier Back Office Application, Microsoft Excel Advanced.
Statistical analysis and forecasting of cash-flow;
Managing BCR's regional treasury;
In-house software development;
Software testing and QA for BCR aplications;
Main achievements: I contibuted for developing and tested various scripts in Visual Basic for automated tasks that reduced FTE by 3 and 
I also created a forecasting aplication using Microsoft Excel and VBA scripting.</pre>
                          </div>
                         </div>

                        <div class="media">                 
                          <div class="media-body">
                            <h3 class="media-heading">Direct sales agent 03.2007 - 12.2008</h3>
                            <h4>Unicredit Tiriac Bank, Bucharest (Romania)</h4>
                            <pre>Prospecting and identifying of potential clients Unicredit Tiriac Bank, 
Promoting of products and services of the bank; 
Providing of information to potential customers; 
Reporting the results of the activity to the team leader</pre>
                          </div>
                         </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <h2># Education</h2>
                        <div class="media">                 
                          <div class="media-body">
                            <p class="media-heading">Bucharest University of Economic Studies, Bucharest (Romania) 2010 - 2012</p>
                            <p>Faculty of Finance and Banking</p>
                            <p>Master's Diploma, Ms Bank (Management of Banking Systems)</p>
                          </div>
                         </div>
                        <div class="media">
                          <div class="media-body">
                            <p class="media-heading">Romanian-American University, Bucharest (Romania) 2004 - 2008</p>
                            <p>Faculty of Domestics , Financial - Banking Relations</p>
                            <p>Bachelor's Diploma, Economic International Relations</p>
                          </div>
                         </div>
                        <div class="media">
                          <div class="media-body">
                            <p class="media-heading">Energetic National College, Ramnicu Valcea (Romania) 2000 - 2004</p>
                            <p>Electronics and Automation, English</p>
                            <p>Baccalaureat Diploma</p>
                          </div>
                         </div>
                    </div>
                    
                        <div class="col-md-5">
                        <h2>Foreign languages skills</h2>
                             <div class="progress">
                              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 75%;">
                                English
                              </div>
                            </div>                       
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 30%;">
                                French
                              </div>
                            </div>                            
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 30%;">
                                Spanish
                              </div>
                            </div>                                                          
                            <div class="progress">
                              <div class="progress-bar progress-bar-striped" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 20%;">
                                German
                              </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <h2># Services</h2>
                        <div class="alert alert-success" role="alert"><i class="glyphicon glyphicon-ok"></i> HTML5/CSS3 Website Design</div>
                        <div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-ok"></i> Web Programming (C++,Python)</div>
                        <div class="alert alert-success" role="alert"><i class="glyphicon glyphicon-ok"></i> Server & Database Administrator</div>
                        <div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-ok"></i> CMS Web Development (Wordpress)</div>
                        <div class="alert alert-success" role="alert"><i class="glyphicon glyphicon-ok"></i> PSD  to HTML or CMS</div>
                        <div class="alert alert-info" role="alert"><i class="glyphicon glyphicon-ok"></i> Tech Writing and Video Presentation</div>
                    </div>
                    <div class="col-md-5">
                        <h2># Recent Projects</h2>
                        <ul class="work-list">
                            <li><a href="#"><img src="img/work1.jpg"></a></li>
                            <li><a href="#"><img src="img/work2.jpg"></a></li>
                            <li><a href="#"><img src="img/work3.jpg"></a></li>
                            <li><a href="#"><img src="img/work4.jpg"></a></li>
                        <ul>
                    </div>
                </div>
        <footer>
            <div class="container">
            <p>Copyright &copy; 2019, All Rights Reserved
            </div>
        </footer>
    </section>
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.js"></script>
  </body>
</html>
