{% load static %}
     <nav> <!--rand 1 standard-->
        <div class="container">
            <div class="row">
                <div class="col-sm-6" id="navleft">
                    <h1><b>Constantin Ionescu<b></h1>
                    <h2><b>Python Developer<b></h2>
                </div>

                <div class="col-sm-6" id="navright">
                    <ul class="nav nav-pills" role="tablist">
                        <li><a href="/">HOME</a></li>
                        <li><a href="resume">RESUME</a></li>
                        <li><a href="projects">PROJECTS</a></li>
                        <li><a href="contact">CONTACT</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>