{% extends "base.html" %}

{% block content %}
    <section class="container"> <!--rand 2--> 
        <div class="row">
            <div class="col-md-3">
                <a href="indexmpower.html">Simple Bootstrap Website</a>
                </br>
                <img src="img/project1.png">
            </div>
            <div class="col-md-3">
                <a href="indexsass.html">Using SASS Website</a>
                </br>
                <img src="img/project2.png">
            </div>            
        </div>
    </section>
{% endblock content %}