{% extends "base.html" %}

{% block content %}
    <section class="container"> <!--rand 2--> 
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  PERSONAL INFORMATION
                </a>
              </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <div class="panel-body">
              <pre>
                   Name: Ionescu Constantin
                   Address: Sector 3, Zip Code 031159, Bucharest (Romania)
                   Phone: +40.743.926.444
                   E-mail: ionescucosti@icloud.com
                   Website: http://www.ionescucosti.byethost12.com/
                   Sex: Male | Date of birth: 23/12/1984 | Nationality: Romanian</pre>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  EDUCATION AND TRAINING
                </a>
              </h4>
            </div>
            <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
              <div class="panel-body">
                <pre>
                    Master in Ms Bank - 2010–2012
                    Bucharest University of Economic Studies, Bucharest (Romania)
                    Master's Diploma

                    Economist - 2004–2008
                    Romanian-American University - Faculty of Domestics , Financial - Banking Relations, Bucharest (Romania)
                    Bachelor's Diploma

                    Baccalaureat Diploma - 2000–2004
                    Energetic Industrial High School , Ramnicu Valcea, Ramnicu Valcea (Romania)
                    Specialization: Electronics and Automation, Bilingual - English
                </pre>
            </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  WORK EXPERIENCE
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
               <pre>
                Team Leader - 2015-present    
                Romanian Commercial Bank - Erste, Bucharest (Romania)
               
                ATM Forecasting Specialist - 2010-2015
                Romanian Commercial Bank - Erste, Bucharest (Romania)
                               
                Treasury Administrator - 2009–2010
                Romanian Commercial Bank - Erste, Bucharest (Romania)
                               
                Back Office Specialist - 2008–2009
                Romanian Commercial Bank - Erste, Bucharest (Romania)
                               
                Direct sales agent - 2007–2008
                Unicredit Tiriac Bank, Bucharest (Romania)
               </pre>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  COURSES
                </a>
              </h4>
            </div>
            <div id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
              <pre>
                  Responsive Design
                  JavaScript
                  HTML5 and CSS3                            
                  Programing in Python
                  Programing in C++
                  AutoCad
                  Visual Fox Pro              
                  Powerpoint
                  Corel Draw
                  Microsoft Office
              </pre>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  CERTIFICATIONS
                </a>
              </h4>
            </div>
            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <div class="panel-body">
              <pre>
               Introduction to HTML5 by University of Michigan on Coursera. Certificate earned on September 23, 2015
               Programming for Everybody (Python) by University of Michigan on Coursera. Statement of Accomplishment with Distinction earned on September 03, 2015
               European Computer Driving License - ECDL Complete Certificate , 2010
               English skills Certificate by Ministry of Education and Research , 2004
               Electronic skills Certificate by Ministry of Education and Research , 2004
              </pre>
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock content %}
