body {
  padding-top: 50px;
}
.em-text{
    color:#2A37F5 !important;
}

section{
    padding:40px 0 40px 0;
}

.jumbotron{
    background: url(../img/rsz_background4.png) no-repeat top center;
    color: #fff;
    height:600px;
    overflow: none;
}


.jumbotron h1{
    margin-top:0px;
}

.jumbotron p{
    margin-bottom:40px;
}
.jumbotron img.app-btn{
    width:30%;
    margin-left:70%;
    margin-top: 0%;
}
.jumbotron img.showcase-img{
    width:75%;
    margin-top: 80%;
}

img.demo{
    width:100%;
    padding:3px;
    border: 1px solid #ccc;
}
section#feature{
    background:#2A37F5;
    color:#fff;
    padding:40px;
    overflow:auto;
}
section#feature ul li{
        font-size:22px;
        list-style: none;
        line-height:2em;
    }
    section#feature .big-logo{
        width:100%;
    }
    
    section#title-bar{
        padding:0;
        margin:0;
        height:80px;
        background:#2A37F5;
        color:#fff;
    }
    
    section#title-bar h1{
        margin-bottom:20px;
    }
    
    footer{
        background:#fff;
        color:#fff;
        padding:30px 0 20px 0;
    }
    footer li{
        float:left;
        padding:0 10px 0 10px;
        list-style:none;
    }
    
    footer a{
        color:#fff;
    }
    footer p{
        float:right;
    }
    
    /* media queries*/
    
    @media(max-width: 1200px){

    }
    
    @media(max-width: 991px){

    }
    @media(min-width: 768px) and (max-width: 990px){

    }
    @media(min-width: 768px){

    }
    @media(max-width: 500px){

    }